ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    width: 920px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4aaaa5;
    color: white;
    margin-left: -40px;
}

/*
.inactive {
    margin-left: -10px;
}*/




body {
    width: 960px;
}

h1, h2, header {
    /*background-color: #4aaaa5;*/
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 960px;
    /*color: white;*/
}

main {
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.8em;
    width: 960px;
    }
 
footer {
    background-color: #666666;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 30px;
    vertical-align: text-bottom;
    
}

/*#bio-image {
    width: 20%;
}*/

img {
    float: left;
    clear: both;    
}

.clear {
    clear: both;
}

.teal {
    color: #4aaaa5;
    font-weight: bold;
}





